<div class="justify-center items-center mt-1">
    <div class="bg-pink-50 rounded-lg text-left p-2">
        <p class="text-sm font-normal">Posted By: <caption>~{{ quote.name }}</caption>
        <p class="text-sm font-normal ">Posted on: {{ quote.datePosted|date}} .</p>
        <p class="text-sm font-normal ">Posted : {{ quote.datePosted|dateCount }} days ago.</p>
    </div>
    <div class="text-pink-50 text-sm text-center flex justify-evenly my-3">
        <button class="bg-blue-400 w-22 h-8 p-2 rounded font-bold" (click)="upvote()">Likes: {{ quote.likes }}</button>
        <button class="bg-blue-400 w-22 p-2 h-8 rounded font-bold" (click)="downvote()">Dislikes: {{ quote.dislikes }}</button>
    </div>
    
    <button (click)= 'deleteQuote(true)' id="delete" class="bg-white border-2 border-red-500 text-red-600 p-2 rounded-xl hover:bg-red-600 mt-1">Delete</button>

</div>


