<div class=" d-flex justify-end">
  <div class="container-fluid bg-gradient-to-r from-blue-400 via-gray-200 to-pink-400">
    <h2 class="heading mt-5 mb-5">Add New Quote 📝</h2>
    <!-- <hr> -->
    <form (ngSubmit)='addNewQuote()' #quotesForm='ngForm'>
        <div class="form-group">
          <label for="name">Your Name:</label>
          <input type="text" required class="form-control" id="name"  name="name"  minlength="3" [(ngModel)]="newQuote.name" #name="ngModel" placeholder="Enter your name...">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Name is required</p>
          </div>
        </div>
        <div class="form-group" class="text-black">
          <label for="name">Quote Title:</label>
          <input type="text" required class="form-control" id="title"  name="title" [(ngModel)]="newQuote.title" #title="ngModel" placeholder="what is the quote about..." >
          <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            <p>Quote title  is required</p>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Quote:</label>
          <textarea class="form-control" id="quote" rows="2" required  name="quote" [(ngModel)]="newQuote.quote" #quote = "ngModel" placeholder="Add quote here..."></textarea>
          <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
            <p>Quote is required</p>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Quote Author:</label>
          <input type="text" required class="form-control" id="author" name="author" [(ngModel)]="newQuote.author" #author = "ngModel" placeholder="Author Name...">
          <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            <p>Author's name is required</p>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <label for="createdDate" class="p-1 justify-center items-center block mx-auto ">Date:</label>
          <input type="date" id="posted" class="p-2 rounded" [(ngModel)]="newQuote.datePosted" name="datePosted" #datePosted="ngModel" required>
          <div [hidden]="datePosted.valid || datePosted.pristine" class="alert alert-danger">
            <p>Date is required</p>
          </div>
      </div>
      <p class="mt-2 justify-center items-center mx-auto flex font-normal"> Posted on: {{newQuote.datePosted|date}} ✔️ </p>
        <button type="submit" class="bg-pink-300 text-pink-600 p-2 rounded-lg justify-center items-center mx-auto flex mt-3 ">Add Quote</button>
    </form>
  </div>

</div>
  
